{% extends 'base.html' %}
<!-- {% load static %} -->

{% block title %}About{% endblock %}

{% block content %}
<!-- <img class="img-fluid mb-3 mb-lg-0" src="{% static 'theme/assets/img/bg-masthead.jpg' %}" alt="..." /> -->
<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>
<section class="bg-light" id="projects" style="padding-top: 30px; padding-bottom:30px; background-color: whitesmoke !important;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'theme/assets/img/utulok2.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>O nas</h4>
                    <p class="text-black-50 mb-0">Popis o nasom utulku</p>
                </div>
            </div>
        </div>

<h1>
    Nasi mazlickove
</h1>

<!-- Project One Row-->
<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="{% static 'theme/assets/img/dog.jpg' %}" alt="..." /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Rocky</h4>
                    <p class="mb-0 text-white-50">nejaky random popis</p>
                    <hr class="d-none d-lg-block mb-0 ms-0" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project Two Row-->
<div class="row gx-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="{% static 'theme/assets/img/dog2.jpg' %}" alt="..." /></div>
    <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">Lucky</h4>
                    <p class="mb-0 text-white-50">nejaky random popis</p>
                    <hr class="d-none d-lg-block mb-0 me-0" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}