{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<style>
    .profile_pic {
        max-width: 50px;
        max-height: 50px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>
<section class="bg-light" id="projects" style="padding-top: 30px; padding-bottom:30px; background-color: whitesmoke !important;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'theme/assets/img/utulok2.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>O nas</h4>
                    <p class="text-black-50 mb-0">Popis o nasom utulku</p>
                </div>
            </div>
        </div>


<div class="row" style="margin-bottom: 20px;">
    <div class="col">
        <form method="GET">
            {% for field in myFilter.form %}
                <div style="display: inline-block;">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Filtrovat</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Naši mazlíčkové</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <th></th>
                <th>Jméno</th>
                <th>Druh</th>
                <th>Rasa</th>
                <th>Věk</th>
                <th>Dátum odchycení</th>
                {% for animal in animals %}
                    <tr>
                        <td><img class="profile_pic" src="{% if animal.image %}{{ animal.image.url }}{% else %}/static/img/profile_pic_default.jpg{% endif %}"></td>
                        <td><a href="{% url 'all_animals' %}{{animal.id}}/">{{animal.animal_name}}</a></td>
                        <td>{{animal.species}}</td>
                        <td>{{animal.breed}}</td>
                        <td>{{animal.age}}</td>
                        <td>{{animal.capture_date|date:"d.n.Y"}}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
