{% extends 'base.html' %}
{% load static %}

{% block title %}Vytvoření požadavky{% endblock %}

{% block content %}

<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>
<div class="">
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
                    <div style="display: block; margin: 10px">
                        {{ field.errors }}
                        <div style="width: 20%; display: inline-block; vertical-align: top !important;" >{{ field.label_tag }}</div>
                        <div style="width: 75%; display: inline-block">{{ field }}</div>
                    </div>
        {% endfor %}
        <input type="submit" name="Submit" value="Vytvořit požadavek">
    </form>
</div>
{% endblock %}