{% extends 'base.html' %}
{% load static %}

{% block title %}Seznam zvířátek{% endblock %}

{% block content %}

<style>
    .wrapper {
        display: grid;
        grid-template-columns: 57% 13% 30%;
        grid-template-rows: 50px;
        grid-column-gap: 5px;
        align-content: center;
    }
    .profile_pic {
        max-width: 50px;
        max-height: 50px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>
<div class="row" style="padding-top: 30px; padding-bottom: 30px; margin: auto; width: 90%">
    <div class="col-md">
        <div class="card card-body wrapper">
            <div style="font-size: 30px;">Všechny zvířátka</div>
            {% if user.role.id == 2 %}
            <div><a class="btn btn-sm btn-info" href="{% url 'add_animals' %}" style="background-color: forestgreen;color: white;">Přidat zvíře</a></div>
            <div><a class="btn btn-sm btn-info" href="{% url 'add_vet_request' %}" style="background-color: forestgreen;color: white;">Vytvořit požadavek na veterináře</a></div>
            {% endif %}
        </div>
        <div class="card card-body">
            <table class="table">
                <th></th>
                <th>Jméno</th>
                <th>Druh</th>
                <th>Rasa</th>
                <th>Věk</th>
                <th>Datum odchycení</th>
                {% if user.role.id == 2 %}
                <th>Popis</th>
                <th>Vhodný na venčení</th>
                <th>Adoptovaný</th>
                <th></th>
                <th></th>
                {% endif %}
                {% for animal in animals %}
                    <tr>
                        <td><img class="profile_pic" src="{% if animal.image %}{{ animal.image.url }}{% else %}/static/img/profile_pic_default.jpg{% endif %}"></td>
                        <td><a href="{% url 'all_animals' %}{{animal.id}}/">{{animal.animal_name}}</a></td>
                        <td>{{animal.species}}</td>
                        <td>{{animal.breed}}</td>
                        <td>{{animal.age}}</td>
                        <td>{{animal.capture_date|date:"d.n.Y"}}</td>
                        {% if user.role.id == 2 %}
                        <td>{{animal.animal_description}}</td>
                        <td>{{animal.outing_suitable|yesno:"Ano,Ne" }}</td>
                        <td>{{animal.animal_verification|yesno:"Ano,Ne" }}</td>
                        <td><a href="{% url 'update_animals' animal.id %}">Upravit</a></td>
                        <td><a href="{% url 'delete_animals' animal.id %}">Odstránit</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}