{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>

<div style="margin: auto; width: 70%; text-align: center; height: 819px">
    <p style="padding-top: 350px">Skutečně chcete odstránit "Záznam {{rec.record_name}}"?</p>

    <form action="{% url 'delete_record' rec.id %}" method="POST">
        {% csrf_token %}

        <a href="{% url 'all_animals' %}">Zrušit</a>
        <input type="submit" name="Odstránit">
    </form>
</div>

{% endblock %}