{% url 'index' as index_url %}
{% url 'about' as about_url %}
{% url 'walks_dashboard' as walks_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'profil' as profile_url %}
{% url 'admin_site' as admin_url %}
{% url 'reservation' as reservation_url %}
{% url 'all_animals' as animals_url %}
{% url 'volunteer_verification' as verify_url %}
{% load static %}

<nav class="navbar navbar-expand-lg hs-bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <img class="navbar-brand" src="{% static 'theme/assets/logo_packa.png' %}" alt=" " style="height:70px;">
        <a class="navbar-brand" href="{{ index_url }}" style="font-size: 30px;">Packa</a>
        <button class="navbar-toggler text-uppercase font-weight-bold hs-bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">

                {% if user.is_authenticated %}
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ profile_url }}">Vítej, {{request.user.full_name}}!</a></li>
                {% endif %}

                {% if user.role.id != 2 %}
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ index_url }}">Domů</a></li>
                
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ about_url }}">O nás</a></li>
                {% endif %}

                {% if user.role.id == 1 %}
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ admin_url }}">Administrátor</a></li>
                {% endif %}

                {% if not user.is_authenticated %}
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ login_url }}">Přihlášení</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    {% if user.role.id == 4 %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ reservation_url }}">Rezervace procházek</a></li>
                    {% endif %}

                    {% if user.role.id == 2 %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ walks_url }}">Procházky</a></li>

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ animals_url }}">Zvířátka</a></li>

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ verify_url }}">Verifikace dobrovolníků</a></li>
                    {% endif %}

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ logout_url }}">Odhlásit se</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> 

