{% extends 'base.html' %}
{% load static %}

{% block title %}Uživatelský profil{% endblock %}

{% block content %}

<style>
    .wrapper {
        display: grid;
        grid-template-columns: 78% 22%;
        grid-template-rows: 50px;
        grid-column-gap: 5px; /* will contain if #first is longer than #second */
        align-content: center;
    }
    .profile_pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
    #id_full_name, #id_phone_number, #id_mail {
        width: 100%;
    }
</style>
<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'index' %}">&#8592; Domů</a>
            <hr>
            <h3 style="text-align: center">Profil uživatele</h3>
            <h1 style="text-align: center">{{request.user.user_name}}</h1>
            <hr>
            <img class="profile_pic" src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}/static/img/profile_pic_default.jpg{% endif %}">
        </div>
    </div>

    <div class="col-md-9">
        <div class="card card-body" style="margin-right: 30px; margin-top: 32px">
            <h3 style="text-align: center; margin: 20px">Nastavení Profilu</h3>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}
                    <div style="display: block; margin: 10px">
                        {{ field.errors }}
                        <div style="width: 20%; display: inline-block; vertical-align: top !important;" >{{ field.label_tag }}</div>
                        <div style="width: 75%; display: inline-block">{{ field }}</div>
                    </div>
                    {% endfor %}
                    <div style="margin-right: 0; margin-left: auto; width: 200px">
                        <input class="btn btn-primary" type="submit" name="Submit" value="Uložit změny">
                    </div>
            </form>
        </div>
    </div>
</div>
{% if user.role.id == 4 %}
<div class="row" style="padding-top: 30px; margin: auto; width: 70%">
    <div class="col-md">
        <div class="card card-body wrapper">
            <div style="font-size: 30px;">Aktivní rezervace procházek</div>
        </div>
        <div class="card card-body">
            <table class="table">
                <th>Mazlík</th>
                <th>Začátek</th>
                <th>Konec</th>
                <th>Potvrzení</th>
                {% for j in walks_active %}
                    <tr>
                        <td>{{j.animal.animal_name}}</td>
                        <td>{{j.outing_start|date:"d.n.Y H:i"}}</td>
                        <td>{{j.outing_end|date:"d.n.Y H:i"}}</td>
                        <td>{{j.outing_verification|yesno:"Potvrzeno,Nepotvrzeno"}}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 30px; padding-bottom: 30px; margin: auto; width: 70%">
    <div class="col-md">
        <div class="card card-body wrapper">
            <div style="font-size: 30px;">Ukončené rezervace procházek</div>
        </div>
        <div class="card card-body">
            <table class="table">
                <th>Mazlík</th>
                <th>Začátek</th>
                <th>Konec</th>
                {% for i in walks %}
                    <tr>
                        <td>{{i.animal.animal_name}}</td>
                        <td>{{i.outing_start|date:"d.n.Y H:i"}}</td>
                        <td>{{i.outing_end|date:"d.n.Y H:i"}}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% else %}
<div style="height: 363px"></div>
{% endif %}

{% endblock %}