{% extends 'base.html' %}
{% load static %}

{% block title %}Uživatelský profil{% endblock %}

{% block content %}

<style>
    .wrapper {
        display: grid;
        grid-template-columns: 78% 22%;
        grid-template-rows: 50px;
        grid-column-gap: 5px; /* will contain if #first is longer than #second */
        align-content: center;
    }
    .profile_pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<h1 style="padding-top: 70px; background-color: mediumseagreen"></h1>

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'index' %}">&#8592; Domu</a>
            <hr>
            <h3 style="text-align: center">Nastavení Profilu</h3>
            <hr>
            <img class="profile_pic" src="/static{{ request.user.profile_picture.url }}">
        </div>
    </div>

    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="Uložit změny">
            </form>
        </div>
    </div>
</div>

<div class="row" style="margin: 20px; padding-top: 40px">
    <div class="col-md">
        <div class="card card-body wrapper">
            <div style="font-size: 30px;">Aktivní rezervace procházek</div>
        </div>
        <div class="card card-body">
            <table class="table">
                <th>Mazlík</th>
                <th>Začátek</th>
                <th>Konec</th>
                <th>Potvrzení</th>
                {% for j in walks_active %}
                    <tr>
                        <td>{{j.animal.animal_name}}</td>
                        <td>{{j.outing_start|date:"d.n.Y H:i"}}</td>
                        <td>{{j.outing_end|date:"d.n.Y H:i"}}</td>
                        <td>{{j.outing_verification|yesno:"Potvrzeno,Nepotvrzeno"}}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="row"style="margin: 20px; padding-top: 40px">
    <div class="col-md">
        <div class="card card-body wrapper">
            <div style="font-size: 30px;">Ukončené rezervace procházek</div>
        </div>
        <div class="card card-body">
            <table class="table">
                <th>Mazlík</th>
                <th>Začátek</th>
                <th>Konec</th>
                {% for i in walks %}
                    <tr>
                        <td>{{i.animal.animal_name}}</td>
                        <td>{{i.outing_start|date:"d.n.Y H:i"}}</td>
                        <td>{{i.outing_end|date:"d.n.Y H:i"}}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}